.chat-body, .wa-dialog-container {
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.wa-dialog-body h5{
    font-size: 1.2em;
    font-weight: bolder;
}

.wa-dialog-body img {
    border-radius: 50%;
}

.wa-dialog-body:hover {
    cursor: pointer;
}

.pright10 {
    padding-right: 10px !important;
}